.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #3E432E;
}
h2 {
  margin-bottom:0px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #A7D129;
   
}
h1 {
  /* margin: 30px; */
  margin-bottom:0px;
  margin-top:0px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #A7D129;
}

p {
  font-size: 2rem;
  color: #A7D129;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 1%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size:1.5rem;

}
.ref {
  margin-bottom:1rem;
  margin-top:0px;
}
.btnop {
  background: #9c060c;
  background-image: -webkit-linear-gradient(top, #9c060c, #9c040c);
  background-image: -moz-linear-gradient(top, #9c060c, #9c040c);
  background-image: -ms-linear-gradient(top, #9c060c, #9c040c);
  background-image: -o-linear-gradient(top, #9c060c, #9c040c);
  background-image: linear-gradient(to bottom, #9c060c, #9c040c);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: 'Lobster', cursive;
  color: #ffffff;
  font-size: 2rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border:0px;
  margin-top:2px;
}

.btnop:hover {
  background: #e4bcac;
  background-image: -webkit-linear-gradient(top, #e4bcac, #9c0c14);
  background-image: -moz-linear-gradient(top, #e4bcac, #9c0c14);
  background-image: -ms-linear-gradient(top, #e4bcac, #9c0c14);
  background-image: -o-linear-gradient(top, #e4bcac, #9c0c14);
  background-image: linear-gradient(to bottom, #e4bcac, #9c0c14);
  text-decoration: none;
}
.btnop a{
  color: #fff;
  text-decoration:none;
}
@media (max-width:998px){
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  .dice img{
    width:100%;
  }
  .dice p {
    font-size:3rem;
  }
  footer {
    margin-top: 20%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size:1.5rem;
    bottom: 0;
  
  }
  .ref {
    margin-bottom:2rem;
    margin-top:5rem;
  }
}

